@import "./reset.css";
body {
  font-family: "Nanum Myeongjo", serif;
}

a {
  text-decoration-line: none;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header {
  background-color: #d3e6e0;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.inner_header {
  margin: 0 auto;
  position: relative;
  width: 1100px;
  height: 120px;
  display: flex;
  align-items: center;
}

.header_logo i {
  font-size: 60px;
  color: #0c917d;
}

.navbar_util {
  float: right;
  height: 20px;
  right: -20px;
  top: 15px;
  width: 700px;
  position: absolute;
  display: flex;
}

.navbar_util li {
  padding: 8px 12px;
}

.navbar_util a {
  color: #636363;
}

.navbar_util a:hover {
  text-decoration-line: underline;
}

.navbar_util_search {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.navbar_util_search .input_search {
  width: 0px;
  font-size: 13px;
  height: 25px;
  border: 0;
  display: none;
}

.navbar_util_search .search_span {
  font-size: 14px;
  cursor: pointer;
  border: 0;
  background-color: white;
  display: inline-block;
  padding: 8px;
}

.navbar_nav {
  height: 20px;
  right: 0px;
  width: 820px;
  position: absolute;
  display: flex;
}

.navbar_nav li {
  height: 40px;
  padding: 12px 16px;
  cursor: pointer;
}

.navbar_nav li a {
  color: black;
}

.header_userButton {
  display: none;
}

.header_locationButton {
  display: none;
}

.header_toggleButton {
  display: none;
}

.navbar_nav_sub_wrap {
  background: #2c2a29;
  position: absolute;
  width: 100%;
  left: 0;
  top: 66px;
}

.navbar_nav_sub {
  padding: 20px 0 20px 0;
  display: inline-block;
  width: 100%;
}

.navbar_nav_sub_inner {
  float: left;
  left: 20px;
  margin-left: 0;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .inner_header {
    height: 70px;
  }

  .header_logo i {
    font-size: 35px;
  }

  .navbar_util,
  .navbar_nav {
    display: none;
  }

  .header_userButton {
    position: absolute;
    right: 120px;
    color: #0c917d;
    font-size: 25px;
    display: block;
  }

  .header_toggleButton {
    position: absolute;
    right: 40px;
    color: #0c917d;
    font-size: 25px;
    display: block;
  }

  .header_locationButton {
    position: absolute;
    right: 80px;
    color: #0c917d;
    font-size: 25px;
    display: block;
  }
}
